# General
DATABASE_URL=
NEXT_PUBLIC_APP_URL=

# Better-auth secret and url - REQUIRED
BETTER_AUTH_SECRET=
BETTER_AUTH_BASE_URL=

# Database seeding for the first admin
SEED_ADMIN_NAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=

# Mailing
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=

# Supabase storage
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# PostHog Analytics
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
NEXT_PUBLIC_POSTHOG_HOST=
POSTHOG_PROJECT_ID=
POSTHOG_PERSONAL_API_KEY=
