DATABASE_URL=
NEXT_PUBLIC_APP_URL=

# Better-auth secret and url - REQUIRED
BETTER_AUTH_SECRET=
BETTER_AUTH_BASE_URL=

# Database seeding for the first admin
SEED_ADMIN_NAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=