@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* OpenDev colors */
:root {
  --main-color: #1D2A3A;
  --secondary-color: #E1E8F0;
  --accent-color: #A5C4D1;
  --logo-color: #B6C5D4;
  --sup-accent-color: #76A1B8;
  --bg-color: #283B4A;
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 180);
  --foreground: oklch(0.147 0.004 49.314);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.012 58.069);
  --popover: oklch(1 0 180);
  --popover-foreground: oklch(0.147 0.004 49.314);
  --card: oklch(1 0 180);
  --card-foreground: oklch(0.147 0.004 49.314);
  --border: oklch(0.923 0.003 48.716);
  --input: oklch(0.923 0.003 48.716);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.424);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.637 0.208 25.326);
  --destructive-foreground: oklch(0.985 0.001 106.424);
  --ring: oklch(0.147 0.004 49.314);
  --chart-1: oklch(0.216 0.006 56.043);
  --chart-2: oklch(0.97 0.001 106.424);
  --chart-3: oklch(0.97 0.001 106.424);
  --chart-4: oklch(0.992 0 106.406);
  --chart-5: oklch(0.216 0.008 55.924);
}

.dark {
  --radius: 0.65rem;
  --background: oklch(0.147 0.004 49.314);
  --foreground: oklch(0.985 0.001 106.424);
  --muted: oklch(0.269 0.006 34.297);
  --muted-foreground: oklch(0.716 0.009 56.26);
  --popover: oklch(0.147 0.004 49.314);
  --popover-foreground: oklch(0.985 0.001 106.424);
  --card: oklch(0.147 0.004 49.314);
  --card-foreground: oklch(0.985 0.001 106.424);
  --border: oklch(0.269 0.006 34.297);
  --input: oklch(0.269 0.006 34.297);
  --primary: oklch(0.985 0.001 106.424);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.269 0.006 34.297);
  --secondary-foreground: oklch(0.985 0.001 106.424);
  --accent: oklch(0.269 0.006 34.297);
  --accent-foreground: oklch(0.985 0.001 106.424);
  --destructive: oklch(0.396 0.133 25.721);
  --destructive-foreground: oklch(0.985 0.001 106.424);
  --ring: oklch(0.868 0.004 56.366);
  --chart-1: oklch(0.985 0.001 106.424);
  --chart-2: oklch(0.269 0.006 34.297);
  --chart-3: oklch(0.269 0.006 34.297);
  --chart-4: oklch(0.299 0.007 34.298);
  --chart-5: oklch(0.985 0.002 106.432);
}


body {
  font-family: var(--font-sans);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply  text-foreground;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}